<ion-content class="ion-padding">

  <ion-card class="stats-card">

    <ion-row class="two-grids">

      <!-- REVISADOS -->
      <ion-col>

        <ion-grid>

          <div class="grid-header">

            <ion-row class="header">
              <ion-col colspan="5" class="section-title">
                REVISADOS
              </ion-col>
            </ion-row>

            <ion-row class="header">

              <ion-col (click)="sort('type')">
                TEMARIO {{ getSortIcon('type') }}
              </ion-col>

              <ion-col>
                FUENTE
              </ion-col>

              <ion-col (click)="sort('id')">
                PREGUNTA {{ getSortIcon('id') }}
              </ion-col>

              <ion-col (click)="sort('accuracy')">
                PORCENTAJE {{ getSortIcon('accuracy') }}
              </ion-col>

              <ion-col>
                AÑADIR
              </ion-col>

            </ion-row>

          </div>

          <div class="grid-scroll">

            @for (
              s of reviewed;
              track s.type + '_' + s.source + '_' + s.id
            ) {

              <ion-row class="data-row">

                <ion-col>
                  {{s.type}}
                </ion-col>

                <ion-col>
                  {{s.source}}
                </ion-col>

                <ion-col>
                  {{s.id}}
                </ion-col>

                <ion-col class="accuracy">
                  {{accuracy(s)}}%
                </ion-col>

                <ion-col>
                  <ion-checkbox
                    [(ngModel)]="s.selected"
                    class="custom-checkbox">
                  </ion-checkbox>
                </ion-col>

              </ion-row>

            }

          </div>

        </ion-grid>

      </ion-col>

      <div class="vertical-divider"></div>

      <!-- PENDIENTES -->
      <ion-col>

        <ion-grid>

          <div class="grid-header">

            <ion-row class="header">

              <ion-col
                colspan="4"
                class="section-title">
                PENDIENTES
              </ion-col>

            </ion-row>

            <ion-row class="header">

              <ion-col (click)="sortPending('type')">
                TEMARIO {{ getSortIconPending('type') }}
              </ion-col>

              <ion-col>
                FUENTE
              </ion-col>

              <ion-col (click)="sortPending('id')">
                PREGUNTA {{ getSortIconPending('id') }}
              </ion-col>

              <ion-col>

                <ion-checkbox
                  [(ngModel)]="allPendingSelected"
                  (ionChange)="toggleAllPending($event)"
                  class="custom-checkbox">
                </ion-checkbox>

                AÑADIR

              </ion-col>

            </ion-row>

          </div>

          <div class="grid-scroll">

            @for (
              s of pending;
              track s.type + '_' + s.source + '_' + s.id
            ) {

              <ion-row class="data-row">

                <ion-col>
                  {{s.type}}
                </ion-col>

                <ion-col>
                  {{s.source}}
                </ion-col>

                <ion-col>
                  {{s.id}}
                </ion-col>

                <ion-col>

                  <ion-checkbox
                    [(ngModel)]="s.selectedPending"
                    class="custom-checkbox">
                  </ion-checkbox>

                </ion-col>

              </ion-row>

            }

          </div>

        </ion-grid>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-button
    expand="block"
    shape="round"
    (click)="generateQuiz()">

    Crear Quiz

  </ion-button>

</ion-content>