<ion-content class="home">

  <div class="home-wrapper">

    <!-- CABECERA -->

    <div class="header-card">

      <div class="app-badge">
        OPE Gobierno Vasco 2026
      </div>

      <div class="title">

        <h1>
          Administrativo
        </h1>

        <p>
          Selecciona el tema
        </p>

      </div>

    </div>


    <!-- FUENTE SELECCIONADA -->

    <div class="fuente-actual">

      <span>
        {{ nombreFuente }}
      </span>

      <ion-button
        fill="clear"
        (click)="cambiarFuente()">

        CAMBIAR

      </ion-button>

    </div>


    <!-- TEMAS -->

    <div class="temario">

      <ion-button
        *ngFor="let tema of temas"
        class="temario-card"
        (click)="empezarTema(tema)"
        shape="round">

        <div class="card-inner">

          {{ getNombreTema(tema) }}

        </div>

      </ion-button>

    </div>

  </div>

</ion-content>