<ion-content class="home">
  <div class="home-wrapper">

    <!-- Header -->
    <div class="header-card">
      <div class="app-badge">OPE Gobierno Vasco 2026</div>
      <div class="title">
        <h1>Administrativo</h1>
        <p>Prepara tu examen con preguntas reales</p>
      </div>
    </div>

    <!-- Botones de temario -->
    <div class="temario">

      <ion-button
        *ngFor="let tema of temas"
        class="temario-card"
        [routerLink]="['/tabs/quiz']"
        [queryParams]="{ mode: tema }"
        shape="round">

        <div class="card-inner">
          {{ getNombreTema(tema) }}
        </div>
      </ion-button>

    </div>

    <ion-button
      *ngFor="let examen of ivap"
      class="temario-card"
      [routerLink]="['/tabs/quiz']"
      [queryParams]="{ mode: examen.id }"
      shape="round">

      <div class="card-inner">
        {{ examen.nombre }}
      </div>

    </ion-button>

  </div>
</ion-content>
